<div class="bg2">
  <div class="container">
  <div class="graphic-header" id="r-header">
    <h2> Some of my favorite photos! </h2>
  </div>
  <div class="animated-element" *ngIf="isVisible">
    <div class="grid-row" [@slideInOutRight]>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/rex-ray/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo1.jpg">
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo2.jpg">
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://www.edgexfoundry.org/" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo3.jpg">
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://www.openswitch.net/" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo4.jpg">      
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/scaleio" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo5.jpg">      
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row" [@slideInOutLeft]>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/container-storage-interface/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo6.jpg">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/kubernetes/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo7.jpg">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://grpc.io/" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo8.jpg">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/envoy/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo9.jpg">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/istio/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/photo10.jpg">  
          </div>
        </div>
      </div>
  </div>
</div>
</div>


