<div>
  <div class="container">
    <div class="card">
      <h1>Dear Mom,</h1>

        <p> Obviously I could not go to the store and buy you a card this year, but I thought this  might be better. Rest assured I still found a way to get some tomato plants even though I was required to wear a mask to the farmer’s market. Hopefully they grow a bit better than last year’s tomatoes.</p>

        <p> Anyways, Happy Mother’s Day! I hope you enjoy the dinner I make tonight. It took quite a bit of planning and logistics. Thanks you being an amazing Mom and for all the small things you have done for me: buying me groceries, making dinner, teaching me how to cook, making a photo book, taking me to Italy, … the list goes on. </p>

        <p> Thanks for being an inspiration to me in my studies. I know I complain a lot about school, but you have always been an inspiration to me, especially in the earlier years of my college career. Rest assured everyone from Nish to Master Card recruiters know about how you got a degree in Materials Science Engineering from University of Illinois (or UIUC as I am told it is called now) despite the terrible professors in office hours. I think about it a lot myself and how I had similar experiences throughout much of college. </p>
        
        <p> Hope this is a great day for you! </p>

        <h1> Love,</h1>
        <h1> Edward </h1>
    </div>
  </div>
</div>
