<div>
  <div class="container">
    <div class="card">
      <h1>Dear Mom,</h1>
        Craziest shit.

        <p>
          So one day Kirby appears in front of my boy and I. Like the Kirby. Real shit lol. Conner and I were sober as fuck fixing his car and fucking Kirby 
          just...poofs, into our garage. I mean we played smash. We knew what it was. After freaking the fuck out for about an hour, conner and I finally 
          calmed the fuck down enough to even mentally tolerate the idea that Kirby was in the same room with us, harmless, but could still kill us at anytime.
        </p>

        <p> 
        Still, Kirby was cool.
        </p>

        <p>
        Later that evening we all kinda vibed out in Conner's room. Kirby didn't talk or smoke but he fucking loved YouTube. So he kicked it with us while me a
        nd conner blazed.
        </p>

        <p>
        Few hours later, I was baked on the couch looking through my phone. Conner was passed out on the bed while Kirby did the same on the floor b
        elow him. I remember getting a text the same moment it happened: Conner rolled off the fucking bed.
        </p>
        <p>
        He fell directly onto Kirby who, startled, proceeded to fucking swallow Conner whole into his mouth.
        </p>

        <p>
        For no more than 5 seconds, Conner was inside the universal abyss that resides inside of Kirby before he was miraculously spat out.

        He looked terrified, traumatized even, and more physically worn than he was before the ordeal. In the horror and bizarreness of the moment, 
        my curiosity got the better of me as I asked Conner "what did you see?" His frantic eyes met mine as he responded, "everything."
        </p>

        <h1> Love,</h1>
        <h1> Edward </h1>
    </div>
  </div>
</div>
